/*
* {
    margin: 0;
    padding: 0;
}
*/

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

img {
    height: 24px;
    margin-bottom: -4px;
    margin-right: 4px;
}

tbody > tr:hover{
    background-color: #ddd;
}

div {
    display:inline-block;
}

.content {
    font-size: large;
    width: 100%;
    
}

.table {
    width: 35%;
    margin: 0;
}

.sim {
    width: 35%;
}

/* ... */